#portfolio-container {
    top: 50px;
}

#portfolio-projects {
    &.grid {
        margin: 0 auto !important;

        .grid-item {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            box-shadow: 2px 2px 3px #565656;

            &.tile-width {
                max-width: 200px;
            }

            &.tile-width-x2 {
            	max-width: 410px !important;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            span {
                position: absolute;
                box-sizing: border-box;
                visibility: hidden;
                width: 100%;
                word-wrap: break-word; /* prevent overflow from long URLs  */
                font-family: Arial, sans-serif;
                font-size: 1.5em;
                line-height: 1.25em;
                padding: 10px;
                bottom: 0;
                background-color: #000000;
                opacity: 0.75;
                color: #ffffff;
                height: auto;
                max-height: 100%;
                overflow-y: auto;

                a {
                    text-decoration: none;
                    color: #ff0000;
                }
            }
        }
    }
}

.no-touch {
    #portfolio-projects {
        &.grid {
            .grid-item {
                &:hover {
                    background-color: #A2C;
                    border-color: white;
                    cursor: pointer;
                }

                img {
                    &:hover {
                        opacity: 0.5;
                    }
                }

                span {
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 444px) {
    #portfolio-container {
        padding: 0 10px !important;
    }

    #portfolio-projects {
        &.grid {
            width: 100% !important;

            .grid-item,
            .grid-item--width2,
            .gigante {
                max-width: none !important;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #portfolio-projects {
        &.grid {
            .grid-item {
                span {
                    font-size: 3vw;
                    line-height: normal !important;
                }

                &.tile-width-x2 {
                    span {
                        font-size: 4vw;
                    }
                }

                &.gigante {
                    span {
                        font-size: 5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #portfolio-projects {
        &.grid {
            .grid-item {
                max-width: 175px !important;

                &.tile-width-x2 {
                    max-width: 350px !important;
                }

                &.gigante {
                    max-width: 748px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #portfolio-projects {
        &.grid {
            .grid-item {
                max-width: 240px !important;

                &.tile-width-x2 {
                    max-width: 480px !important;
                }

                &.gigante {
                    max-width: 980px !important;
                }
            }
        }
    }
}
