.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.75);
	z-index: 10001;

	.popup {
		position: relative;
		display: block;
		top: 200px;
		background-color: #ffffff;
		font-family: Arial, sans-serif;
		width: 40%;
		height: auto;
		padding: 25px;
		opacity: 1;
		margin: 0 auto;

		button {
			font-size: 1.25em;
			width: auto;
			height: auto;
			padding: 10px;
		}
	}
}